[Unit]
Description=Start klogd
After=syslogd.service

[Service]
ExecStart=/sbin/klogd -n
Type=simple
Restart=always

[Install]
WantedBy=default.target